rich
click
openai~=1.34.0
pyyaml
kaggle
fastapi
uvicorn
requests
chromadb
GitPython
onnxruntime
questionary
pandas~=2.2.2
tavily-python
instructor
langfuse
setuptools
numexpr~=2.10.1
bottleneck~=1.4.0
google-api-python-client~=2.143.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.1
